@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100   !important;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: theme(colors.black.900) !important;
	}
}

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
	display: none;
}

/* Add this CSS to your global styles or component styles */
.star-rating {
	display: inline-block;
}

.star-rating span {
	font-size: 24px;
	color: #ddd;
}

.star-rating .filled {
	color: orange;
}

.image.left,
.image.right {
	max-width: 30%;
}

.image.left img,
.image.right img {
	width: 100%;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}
.image-container {
	float: left;
	margin-right: 4px;
	width: 200px;
	height: auto;
}

.twitter-tweet {
	background-color: #1e1e1e !important; /* Dark background */
	color: #141010 !important; /* White text */
  }
  
  .twitter-tweet a {
	color: #1da1f2 !important; /* Link color */
  }
  
  .twitter-tweet p {
	color: #ffffff !important; /* Text color */
  }